.header
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    %a.pure-menu-heading(href)
      Welcome, #{current_user.first_name}.
    %ul
      %li
        %a(href="#") Sign Out

- if @task
  .splash-container
    .splash
      - if flash[:success]
        %aside.success
          = flash[:success]
      - elsif flash[:error]
        %aside.error
          = flash[:error]

      %h1.splash-head 
        = @title
      %p.splash-subhead
        How is it going?

      %p
        = link_to "I'm Done!", complete_task_path(@task), :method => :post, :class => "pure-button pure-button-primary"
      - if !flash[:unskippable]
        %p
          = link_to "Don't want to do this", skip_task_path(@task), :method => :post, :class => "pure-button"
      %p
        = link_to "No longer needed", forget_task_path(@task), :method => :post, :class => "pure-button"

.content-wrapper
  .content
    %h2.content-head.is-center
      Add More Tasks

    .content
      %h2.content-subhead
        %i.fa.fa-plus
        Add a new task

      %p
        Overwhelmed? Log some tasks and feel better.

      .pure-g
        .l-box-lrg.pure-u-1.pure-u-md-2-5
          = form_for @new_task, :html => { :class => "pure-form pure-form-aligned" } do |f|
            %fieldset
              .pure-control-group
                = f.label :title, "Title:"
                = f.text_field :title, :class => "pure-u-1-2"

              .pure-control-group
                = f.label :importance, "Value:"
                = select_tag :importance, options_for_select(@task_importances)

              .pure-controls
                = f.submit :class => "pure-button pure-button-primary"


